<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inquiry.name %>
</p>

<%= form_for(@inquiry) do |f| %>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for(:inquiry_items) do |item_form| %>
        <tr>
          <td><%= item_form.object.name %></td>
          <%= item_form.fields_for(:inquiry_item_prices) do |price_form| %>
            <td><%= price_form.text_field :price %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "Save" %>
<% end %>
